@import "./styles/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Campton";
  src:
    local("Campton"),
    url("../font/Campton/CamptonBlack.otf") format("opentype"),
    url("../font/Campton/CamptonBold.otf") format("opentype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  @include viewPort;
}

body {
  @include textStyle("Campton", sans-serif, 1rem, normal, 1, $black);
}
